<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GPS取得Post.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCGPS.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiveMode" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterID" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterPW" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PostDataInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Radius" serializeAs="String">
                <value>500m</value>
            </setting>
            <setting name="MapURL" serializeAs="String">
                <value />
            </setting>
            <setting name="TinyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AddMapURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddLatLon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImakokoHeader" serializeAs="String">
                <value>ｲﾏｺｺ! L:</value>
            </setting>
            <setting name="SpeedFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HashTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaderRange" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CheckAlertInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseYomiage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftalkPath" serializeAs="String">
                <value />
            </setting>
            <setting name="YomiageTool" serializeAs="String">
                <value>Softalk</value>
            </setting>
            <setting name="RaderInText" serializeAs="String">
                <value>%USER%がレーダー範囲内に入りました</value>
            </setting>
            <setting name="RaderOutText" serializeAs="String">
                <value>%USER%がレーダー範囲外に出ました</value>
            </setting>
            <setting name="SendError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NeverDisplayErrorDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseNearAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundTwit" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundPost" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundRaderIn" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundRaderOut" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationTwit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcceptLocationTwit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="NoSameAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuthTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaxiStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaxiFare" serializeAs="String">
                <value>710</value>
            </setting>
            <setting name="TaxiRestDistance" serializeAs="String">
                <value>2000</value>
            </setting>
        </PCGPS.Properties.Settings>
    </userSettings>
</configuration>